body {
  background: black;
  color: white;
}
h1 {
  font-size: 3em;
}
.header {
  background: white;
}
.home {
  background: #f0f;
  width: 100%;
  height: 50vh;
}
.about {
  background: cyan;
  color: black;
  width: 100%;
  height: 50vh;
}
