/* GLOBAL STYLES */
body {

}
.content-container {
  margin: 2em;
}

.pull-right {
  float: right
}
.pull-left {
  float: left;
}
/* VISUAL STYLES */
.light-border {
  border: 1px solid #ccc;
}
.vertical-space {
  margin: 1em 0;
}
/* IMAGE COLLECTIONS */
.img-collection-row {
  display: flex;
  flex-direction: row;
}
.img-collection-column {
  display: flex;
  flex-direction: column;
}
.img-collection-item {
  margin: .5em;
}
.img-collection-item img {
  width: 100%;
}

/* HEADER */
.header-nav {
  margin: 2em;
}
.header {
  background: white;
}
.header-nav li {
  list-style-type: none;
}

/* .home {
  background: url("https://media.giphy.com/media/eN7dSsfIMEtHy/giphy.gif");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.about {
  background: url("https://media.giphy.com/media/fVeAI9dyD5ssIFyOyM/giphy.gif");
  background-size: cover;
  background-position: center;
  height: 100vh;
} */

/* SPLASH PAGE */
.splash {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
}
.splash-content {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  height: 120px;
  width: 600px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 40%;
  transform: translate(0, -40%);
}
.splash-content h1 {
  font-size: 3em;
  color: white;
  font-weight: 600;
}
.splash-content a {
  display: inline-block;
  margin: 40px;
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  font-weight: 100;
  transition: color .4s;
}
.splash-content a:hover {
  color: red;
  transition: all .4s;
}

/* WORK STYLES */
.work-index {
  margin: 3em 1em;
}
.work-index h1 {
  font-size: 2em;
  font-weight: 400;
}

/* PROJECT PAGES */
.project {
  /* border: 1px dashed magenta; */
  width: 80vw;
  max-width: 960px;
}
.project img {
  max-width: 960px;
}
.project .logo {
  width: 32px;
  height: 32px;
  margin: 1em 0;
}
.project h1 {
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: 700;
  margin: 1em 0;
  font-size: 2.5em;
}
.project h2 {
  font-size: 1.5em;
}
.project p {
  margin: 1em 0;
}
.project li {
  margin-left: 2em;
}
.project .project-type {
  color: #999;
  font-size: .8em;
  text-transform: uppercase;
}
.project img {
  max-width: 960px;
}
.project-footer-nav {
  border-top: 1px solid #ccc;
}

/* RESPONSIVE STYLES */
@media (max-width: 800px) {
  .project img {
    width: 100%;
  }
}
