.header-nav-music {
  background: rgba(31, 19, 19, 100);
}
.music-post {
  color: #ded19d;
  white-space: nowrap;
}
.music-post a {
  color: white;
}

.main {
  display: grid;
  grid-template-rows: min-content auto repeat(3, minmax(min-content, 30px));
  padding: 1em;
  box-sizing: border-box;
  height: 100vh;
  background-image:
    linear-gradient(
      rgba(31, 19, 19, 100),
      rgba(31, 19, 19, .95),
      rgba(86, 57, 51, 0.60)
    ),
    url(/images/music/earth-rot.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.song,
.release,
.artist,
.label,
.released {
  font-family: kaneda-gothic, sans-serif;
  line-height: .70em;
  text-transform: uppercase;
  letter-spacing: -0.010em;
  font-weight: 700;
  text-align: center;
}

.artist {
  font-size: 24vw;
  grid-row: 3;
}
.release {
  font-size: 32vw;
  height: .72em;
  line-height: .72em;
}
.label {
  font-size: 20.6vw;
  grid-row: 4;
}
.released {
  font-size: 20vw;
  grid-row: 5;
}


@media (min-width: 30rem) {

  .main {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    grid-template-areas:
    ". . . "
    "stage stage stage"
    ". . . "
    ". . . ";
  }

  .song,
  .release,
  .artist,
  .label,
  .released {
    grid-column: 2;
  }

  .release {
    font-size: 5em;
    grid-row: 1;
  }
  .artist {
    font-size: 4em;
    text-transform: uppercase;
  }
  .label {
    font-size: 2.5em;
    grid-row: 4;
  }
  .released {
    font-size: 2.5em;
    grid-row: 5;
  }
  .stage {
    grid-area: stage;
    display: grid;
    justify-items: center;
    align-items: center;
  }
}

@media (min-width: 30em) {
  .mediaWrapper {
    width: 66%;
    padding-bottom: 40%;
  }
}
