// .splash * {
//   border: 1px solid red;
// }

.splash {
  font-family: "univers-bold-extended";
  height: 100vh;
  background-color: #0d0d0d;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.splash-content {
  display: flex;
  align-items:center;
  justify-content: space-between;
  flex-direction: row;
  padding: 2rem 2rem 2rem 2rem;
}
.splash-content h1 {

  font-size: 2rem;
  line-height: 1.2em;
  word-spacing: -.09em;
  letter-spacing: -.04em;
  color: ivory;
  left: 20px;
  bottom: 40px;
}

a.contact {
  font-family: "univers-extended";
  font-size: 1rem;
  letter-spacing: .1rem;
  text-decoration: none;
  color: rgba(255, 255, 255, .5);
  transition: color .4s;

}
a.contact:hover {
  // color: rgba(255, 255, 255, 1);
  color: pink;
  transition: all .4s;
  // border-width: 3px;
  // border-color: rgba(255, 255, 255, .7);


}

@media (min-width: 960px) {
  .splash h1 {
    font-size: 3vw;
  }
}
