.about {
  font-family: "kabel-black";
  height: 100dvh;
  background-color: rgba(0, 0, 0, .85);
  display: flex;
}

.about-content {
  height: 100dvh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 2rem;
}

.about-content h1 {
  font-family: "univers-light";
  font-size: clamp(3rem, 10vw, 7.5rem);
  letter-spacing: -0.02em;
  line-height: 0.85;
  word-spacing: -0.09em;
}

.about-content h1 a {
  color: ivory;
}

.about-content h1 a:hover {
  color: rgba(0, 0, 0, 1);
  transition: all .5s;
}


.about-content p {
  color: ivory;
}

@media (min-width: 960px) {
  .about h1 {
    font-size: 100px;
  }
}

a.page-nav-link {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  font-family: "univers";
  font-size: 1.05rem;
  letter-spacing: -.04em;
  text-decoration: none;
  color: rgba(255, 255, 255, .25);
  transition: color .4s;
  z-index: 10;
}

a.page-nav-link:hover {
  color: white;
  transition: all .2s;
}

a.page-nav-link.is-hidden {
  opacity: 0;
  pointer-events: none;
}

a.sketch-prev-link {
  position: fixed;
  font-size: 2rem;
  text-decoration: none;
  color: rgba(255, 255, 255, .75);
  transition: color .4s;
  z-index: 10;
}

a.sketch-prev-link:hover {
  color: white;
  transition: all .2s;
}

a.contact {
  margin-top: 5px;
  font-family: "univers";
  font-size: 1.05rem;
  letter-spacing: -.04em;
  text-decoration: none;
  color: rgba(255, 255, 255, .5);
  transition: color .4s;
}

a.contact:hover {
  color: white;
  transition: all .2s;
}

