.about {
  font-family: "kabel-black";
  height: 100vh;
  background-color: #0d0d0d;
  display: flex;
}

.about-content {
  height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 2rem 2rem;
}

.about-content h1 {
  font-size: 2.5rem;
  line-height: .85em;
  word-spacing: -.09em;

  color: ivory;
  left: 20px;
  bottom: 40px;
}

a.contact {
  margin-top: 5px;
  font-family: "univers";
  font-size: .9rem;
  letter-spacing: -.04em;
  text-decoration: none;
  color: rgba(255, 255, 255, .5);
  transition: color .4s;
}

a.contact:hover {
  color: white;
  transition: all .2s;
}

@media (min-width: 960px) {
  .about h1 {
    font-size: 3vw;
  }
}