.music-index {
  background: purple;
  ul li {
    list-style-type: none;
  }
  h1 {
    font-family: "Helvetica";
    font-weight: 800;
    font-size: 2em;
    color: black;
  }
}

.music-post h1 {
  font-size: 2em;
  font-family: $font-display;
}
