// RESPONSIVE STYLES
@media (min-width: 480px) {
  .project-preview {
    width: 400px;
  }
  @supports (display: grid) {
    .project-preview {
      width: auto;
    }
  }
}

@media (min-width: 768px) {
  .project-preview-container {
    flex-direction: row;
  }
  .img-collection-row {
    flex-direction: row;
  }
  .project h1 {
    font-size: 2.5em;
  }
}

@media (min-width: 960px) {
  .project {
    width: 80vw;
    max-width: 1280px;
  }

  // SPLASH PAGE
  .splash-content h1 {
    font-size: 3em;
  }
  .splash-content a {
    margin: 40px;
  }
}
