// SPLASH PAGE
.splash {
  height: 100vh;
  background-color: PAPAYAWHIP;
}
.splash-content {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  height: 120px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;
  position: relative;
  top: 45%;
  transform: translate(0, -45%);
}
.splash-content h1 {
  font-size: 3em;
  line-height: 1.3em;
  color: #6C4545;
  font-weight: 600;
}
.splash-content a {
  display: inline-block;
  margin: 40px;
  text-decoration: none;
  color: #6C4545;
  font-size: 1.2em;
  font-weight: 500;
  transition: color .4s;
}
.splash-content a:hover {
  color: ROSYBROWN;
  transition: all .4s;
}
