// SPLASH PAGE
.splash {
  height: 100vh;
  background-color: #0d0d0d;
}
.splash-content {
  height: 120px;
  width: 100%;
  text-align: left;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;
  position: relative;
  top: 45%;
  transform: translate(0, -45%);
}
.splash-content h1 {
  font-family: "univers-bold-extended";
  font-size: 2em;
  line-height: 1.2em;
  word-spacing: -.09em;
  color: ivory;
}
.splash a {
  font-family: "univers-bold";
  position: fixed;
  bottom: 0px;
  right: 0px;
  display: inline-block;
  margin: 40px;
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color .4s;
}
.splash a:hover {
  color: white;
  transition: all .4s;
}

// MEDIA QUERIES
// @media (min-width: 960px) {
//   .splash-content {
//     text-align: center;
//   }
// }

@media (min-width: 960px) {
  .splash-content a {
    margin: 40px;
  }
  .splash-content h1 {
    font-size: 4em;
  }
}
