// UNIVERS
@font-face {
  font-family: "univers";
  src: url("/fonts/Univers/UniversLTStd.otf")
}
@font-face {
  font-family: "univers-light";
  src: url("/fonts/Univers/UniversLTStd-Light.otf")
}
@font-face {
  font-family: "univers-bold";
  src: url("/fonts/Univers/UniversLTStd-Bold.otf")
}
@font-face {
  font-family: "univers-bold-extended";
  src: url("/fonts/Univers/UniversLTStd-BoldEx.otf")
}
@font-face {
  font-family: "univers-condensed";
  src: url("/fonts/Univers/UniversLTStd-Cn.otf");
}
@font-face {
  font-family: "univers-black";
  src: url("/fonts/Univers/UniversLTStd-Black.otf");
}
@font-face {
  font-family: "univers-extra-black";
  src: url("/fonts/Univers/UniversLTStd-XBlack.otf");
}

// KABEL
@font-face {
  font-family: "kabel-heavy";
  src: url("/fonts/Kabel/KabelLTStd-Heavy.otf");
}
@font-face {
  font-family: "kabel-black";
  src: url("/fonts/Kabel/KabelLTStd-Black.otf");
}

// ADOBE FONTS
// font-family: kaneda-gothic, sans-serif;
 @import url("https://use.typekit.net/hpq1muq.css");
