// TYPEWRITER
.typewriter-cursor {
  animation: cursor-blink 0.7s step-end infinite;
}
@keyframes cursor-blink {
  50% { opacity: 0; }
}

// SPLASH PAGE
.splash {
  height: 100vh;
}
.splash-content {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
