// FONTS
$font-display: "univers-bold-extended";
$font-primary: "univers";
$font-secondary: "univers-bold-extended";

// COLOR
$color-primary-dark: black;
$color-primary-medium: #666;
$color-secondary: ROSYBROWN;
$color-links: CADETBLUE;
$color-site-bg: #f7f7f7;
