---
layout: project-index
---
<header>
  <a href="/work"><img class="logo" src="/images/ak-logo.png" alt=""></a><br>
  <span class="project-type">{{ page.project-type }}</span>
</header>
<ul class="project-preview-container">
  {% assign sorted_projects = site.projects | sort:"order" %}
  {% for project in sorted_projects %}
  {% if project.visible == true %}

  <li>
    <div class="project-preview">
      <a href="{{site.url}}{{ project.url }}">
        <img class="project-thumbnail" src="{{ project.featured-image }}">
        <h1>{{ project.title }}</h1>
        <p>{{ project.description }}</p>
      </a>
    </div>
  </li>

  {% endif %}
  {% endfor %}
</ul>
