<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include head-music-post.html %}

  <body class="music-post">

    	<div class="postHeroBG" style="background-image:url({{ page.postHero }})">

        <main>
          {% include header-music.html %}


          <div class="stage">
            <div class="post-wrapper">
                <div class="mediaWrapper">
                      <iframe src="https://www.youtube.com/embed/{{ page.youtubeID }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                <ul class="credits">
                    {% if page.song %}
                    <li class="song">&#8220;{{ page.song }}&#8221;</li>
                    {% endif %}

                    {% if page.artist %}
                    <li class="artist">{{ page.artist }}</li>
                    {% endif %}

                    {% if page.release %}
                    <li class="release">{{ page.release }}</li>
                    {% endif %}

                    {% if page.label %}
                    <li class="label">{{ page.label }}</li>
                    {% endif %}

                    {% if page.released %}
                    <li class="released">{{ page.released }}</li>
                    {% endif %}
                  </ul>
            </div>
          </div>



        </main>
      </div>

  </body>
</html>
