<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include head.html %}

  <body>
  	<div class="container">

  		<h1 class="featured">{{ page.postTitle }}</h1>
  		<p>{{ page.description }}</p>
  		<table class="info-table">
  			<tr>
  				<td><strong>Song</strong></td>
  				<td>Mystery Of Love</td>
  			</tr>
  			<tr>
  				<td><strong>Artist</strong></td>
  				<td>{{ page.artist }}</td>
  			</tr>
  			<tr>
  				<td><strong>Label</strong></td>
  				<td>{{ page.label }}</td>
  			</tr>
  			<tr>
  				<td><strong>Released</strong></td>
  				<td>{{ page.released }}</td>
  			</tr>
  			<tr>
  				<td><strong>Genre</strong></td>
  				<td>Electronic, House</td>
  			</tr>
  			<tr>
  				<td><strong>Listen:</strong></td>
  				<td><a href="https://www.youtube.com/watch?v=YAp0j1xB7rM">YouTube</a></td>
  			</tr>
  		</table>
  		<img class="featured-image" src="{{ page.postHero }}" alt="{{ page.postHero }}">
  	</div><!-- end container -->
  	<footer>
  	</footer>
  </body>
</html>
