---
layout: work
---
<header class="project-header">
  <a class="header-nav pull-right" href="{{ site.baseurl }}/work">Projects</a>
  <a href="{{ site.baseurl }}/work"><img class="logo" src="{{ site.baseurl }}/images/ak-logo.png" alt=""></a>
</header>
<div class="project content-container">
  <article>

    <h1>{{ page.description }}</h1>
    <span class="role">{{ page.role }}</span>
    <div class="project-content">

      {{ content }}
    </div>
  </article>
  <div class="project-footer-nav">
    <a href="{{ site.baseurl }}/work">Projects</a>
    <ul>
    {% for project in site.projects %}
      {% if page.url != project.url and project.visible == true %}
        <li><a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
</div>
