---
layout: work
---
{% include header-project.html %}
<div class="project content-container">
  <article>
        <p class="role">{{ page.role }}</p>
    <h1>{{ page.description }}</h1>

    <div class="project-content">

      {{ content }}
    </div>
  </article>

</div>
<div class="project-footer-nav">
  <a class="project-footer-heading" href="{{ site.url }}/work">Projects</a>
  <ul>
  {% for project in site.projects %}
    {% if page.url != project.url and project.visible == true %}
      <li><a href="{{ site.url }}{{ project.url }}">{{ project.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
