---
layout: work
---
{% include header-project.html %}

<article class="project content-container>
      <span class="role">{{ page.role }}</span>
  <h1>{{ page.description }}</h1>
  <div class="project-content">
    {{ content }}
  </div>
</article>

<div class="project-footer-nav">
  <a class="project-footer-heading" href="/work">Projects</a>
  <ul>
  {% for project in site.projects %}
    {% if page.url != project.url and project.visible == true %}
      <li><a href="{{ project.url }}">{{ project.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
